.speech{
    font: 100; 
    font-family: 'Courier New', Courier, monospace;
    color:black;
    font-size: medium;    
}
.direction{
    font: 150;
    font-size: medium;
    color:blue;
    background-color:antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.name:hover{
    color:aliceblue;
    text-shadow: 2px 3px 4px green;


}
.direction:hover{
    color: azure;
    background-color:darkcyan;
}
.mrs.alving{
    
    color:blueviolet;
}
.regina{
    
    color:chocolate;
}
.manders{
    
    color:red;
}
.engstrand{
    
    color:chartreuse;
}

table{
    border:2cm solid goldenrod;
    color:bisque;
    text-align: end;
    padding: 4cm;
    margin: 5px;
    
}

tr:nth-child(odd){
    color:green;
}

