.speech{
    font: 100; 
    font-family:'Courier New', Courier, monospace;
    color: black;
    font-size: medium;    
}
.direction{
    font: 100;
    font-size: large;
    color: black;
    background-color:antiquewhite;
}
.name{
}
.direction.hover{
    color: azure;
    background-color:darkcyan;
}
.MRS.ALVING{
    font-style:initial;
    color:blanchedalmond;
}
.REGINA{
    font-style:initial ;
    color:blanchedalmond;
}
.MANDERS{
    font-style: initial;
    color:blanchedalmond;
}
.NGSTRAND{
    font-style:initial;
    color:blanchedalmond;
}

