.speech{
    font: 100; 
    font-family: 'Courier New', Courier, monospace;
    color:black;
    font-size: medium;    
}
.direction{
    font: 150;
    font-size: medium;
    color: black;
    background-color:antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.name:hover{
    color:aliceblue;
    text-shadow: 2px 3px 4px green;


}
.direction.hover{
    color: azure;
    background-color:darkcyan;
}
.mrs.alving{
    font-style:initial;
    color:blueviolet;
}
.regina{
    font-style:initial ;
    color:chocolate;
}
.manders{
    font-style: initial;
    color:aquamarine;
}
.engstrand{
    font-style:initial;
    color:aqua;
}

table{
    border:2cm solid goldenrod;
    color:bisque;
    text-align:end;
    padding:3cm;
    margin:auto;
}

tr:nth_child(odd){
    color:blue;
}

